@model IEnumerable<MvcGuessMySonsName.Models.Guess>

<table>
    <tr>
        <th style="min-width:150px">
            @("Dagsetning")
        </th>
        <th style="min-width:200px">
            @("Notandi")
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
    </tr>
}
    
</table>