@{
    ViewBag.Subtitle = "Föðurnafnið þarf ekki að rita, rita þarf nafnið alveg rétt til að rétt svar fáist";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post)){    
    <p> Nafn: @Html.TextBox("guessedName") 
    <input type="submit" value="Giska" /></p> 
}
        
@if (ViewBag.GuessResult != null)
{
    if(ViewBag.GuessResult)
    {
        <div style="color:green;font-size:24px"> 
            Þú giskaðir á @ViewBag.GuessedName sem er rétt! Til hamingju!
        </div>
    }
    else
    {
        <div style="color:red;font-size:24px"> 
            Þú giskaðir á @ViewBag.GuessedName sem er rangt!
        </div> 
    }
}

